<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI自動車診断</title>
    <!-- <script> -->
        <!-- async function sendRequest() { -->
            <!-- let response = await fetch('/recommend', { -->
                <!-- method: 'post', -->
                <!-- headers: { 'Content-Type': 'application/json' }, -->
                <!-- body: JSON.stringify({"example": "data"}) -->
            <!-- }); -->
            <!-- let result = await response.json(); -->
            <!-- console.log(result); -->
        <!-- } -->
    <!-- </script> -->
</head>
<body>
    <h1>車AI推薦システムへようこそ</h1>
    <p>あなたにお勧めの車紹介します</p>
    <!-- <button onclick="sendRequest()">推薦を受ける</button> -->
     <table border="1">
        <tr>
            <th>ID</th>
            <th>メーカー</th>
            <th>車種</th>
            <th>ボディタイプ</th>
            <th>駆動方式</th>
            <th>価格(万円)</th>
            <th>排気量</th>
            <th>年式</th>
            <th>モデル</th>
        </tr>
        {% for car in cars %}
        <tr>
            <td>{{ car['id'] }}</td>
            <td>{{ car['メーカー'] }}</td>
            <td>{{ car['車種'] }}</td>
            <td>{{ car['ボディタイプ'] }}</td>
            <td>{{ car['駆動方式'] }}</td>
            <td>{{ car['価格(万円)'] }}</td>
            <td>{{ car['排気量'] }}</td>
            <td>{{ car['年式'] }}</td>
            <td>{{ car['モデル'] }}</td>
        </tr>
        {% endfor %}
     </table>
</body>
</html>