<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI自動車診断</title>
    <!-- <script> -->
        <!-- async function sendRequest() { -->
            <!-- let response = await fetch('/recommend', { -->
                <!-- method: 'post', -->
                <!-- headers: { 'Content-Type': 'application/json' }, -->
                <!-- body: JSON.stringify({"example": "data"}) -->
            <!-- }); -->
            <!-- let result = await response.json(); -->
            <!-- console.log(result); -->
        <!-- } -->
    <!-- </script> -->
</head>
<body>
    <h1>車AI推薦システムへようこそ</h1>
    <p>あなたにお勧めの車紹介します</p>
    <!-- <button onclick="sendRequest()">推薦を受ける</button> -->
</body>
</html>